<h2>Sign In</h2>

<form {{on "submit" this.signIn}}>
  <p>
    <label for="email">Email</label>
    <Input id="email" @type="email" @value={{this.email}} required />
  </p>

  <p>
    <label for="password">Password</label>
    <Input id="password" @type="password" @value={{this.password}} required />
  </p>

  {{#if this.error}}
    <p>{{this.error}}</p>
  {{/if}}

  <p>
    <button type="submit">
      Sign In
    </button>
  </p>
</form>